@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

@theme {
  --breakpoint-mobl: 425px;
  --breakpoint-lapl: 1440px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f3f3;
}

@keyframes marquee-scroll {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-50%, 0, 0);
  }
}

.marquee-track {
  animation: marquee-scroll 60s linear infinite;
  will-change: transform;
}
